.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*
*.tfstate.backup

*.tfvars
*.tfvars.json
!*.tfvars.example

crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

.direnv/
.envrc.local
result
result-*

.pre-commit-config.yaml
.claude/
